/* Ajustes específicos para Entidades */
.container h2 {
    color: #8a2be2; /* Violeta brillante */
}

input[type="text"], input[type="email"], input[type="number"], select {
    background-color: #f5eaff; /* Fondo lila tenue */
    border: 1px solid #c3a7e7; /* Borde lila claro */
}

button[type="submit"] {
    background-color: #9c27b0; /* Violeta intenso */
    color: #ffffff; /* Texto blanco */
}

button[type="submit"]:hover {
    background-color: #7b1fa2; /* Violeta más oscuro */
}
